@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply h-full bg-slate-50 dark:bg-slate-900;
  }

  #root {
    @apply h-full;
  }
}